// Icons
// --------------------------


.icon-acid:before {
  content: $ra-var-icon-acid;
}

.icon-zigzag-leaf:before {
  content: $ra-var-icon-zigzag-leaf;
}

.icon-archer:before {
  content: $ra-var-icon-archer;
}

.icon-archery-target:before {
  content: $ra-var-icon-archery-target;
}

.icon-arena:before {
  content: $ra-var-icon-arena;
}

.icon-aries:before {
  content: $ra-var-icon-aries;
}

.icon-arrow-cluster:before {
  content: $ra-var-icon-arrow-cluster;
}

.icon-arrow-flights:before {
  content: $ra-var-icon-arrow-flights;
}

.icon-arson:before {
  content: $ra-var-icon-arson;
}

.icon-aura:before {
  content: $ra-var-icon-aura;
}

.icon-aware:before {
  content: $ra-var-icon-aware;
}

.icon-axe:before {
  content: $ra-var-icon-axe;
}

.icon-axe-swing:before {
  content: $ra-var-icon-axe-swing;
}

.icon-ball:before {
  content: $ra-var-icon-ball;
}

.icon-barbed-arrow:before {
  content: $ra-var-icon-barbed-arrow;
}

.icon-barrier:before {
  content: $ra-var-icon-barrier;
}

.icon-bat-sword:before {
  content: $ra-var-icon-bat-sword;
}

.icon-battered-axe:before {
  content: $ra-var-icon-battered-axe;
}

.icon-batteries:before {
  content: $ra-var-icon-batteries;
}

.icon-battery-0:before {
  content: $ra-var-icon-battery-0;
}

.icon-battery-25:before {
  content: $ra-var-icon-battery-25;
}

.icon-battery-50:before {
  content: $ra-var-icon-battery-50;
}

.icon-battery-75:before {
  content: $ra-var-icon-battery-75;
}

.icon-battery-100:before {
  content: $ra-var-icon-battery-100;
}

.icon-battery-black:before {
  content: $ra-var-icon-bettery-black;
}

.icon-battery-negative:before {
  content: $ra-var-icon-battery-negative;
}

.icon-battery-positive:before {
  content: $ra-var-icon-battery-possitive;
}

.icon-battery-white:before {
  content: $ra-var-icon-battery-white;
}

.icon-batwings:before {
  content: $ra-var-icon-batwings;
}

.icon-beam-wake:before {
  content: $ra-var-icon-beam-wake;
}

.icon-bear-trap:before {
  content: $ra-var-icon-bear-trap;
}

.icon-beer:before {
  content: $ra-var-icon-beer;
}

.icon-beetle:before {
  content: $ra-var-icon-beetle;
}

.icon-bell:before {
  content: $ra-var-icon-bell;
}

.icon-biohazard:before {
  content: $ra-var-icon-biohazard;
}

.icon-bird-claw:before {
  content: $ra-var-icon-bird-claw;
}

.icon-bird-mask:before {
  content: $ra-var-icon-bird-mask;
}

.icon-blade-bite:before {
  content: $ra-var-icon-blade-bite;
}

.icon-blast:before {
  content: $ra-var-icon-blast;
}

.icon-blaster:before {
  content: $ra-var-icon-blaster;
}

.icon-bleeding-eye:before {
  content: $ra-var-icon-bleeding-eye;
}

.icon-bleeding-hearts:before {
  content: $ra-var-icon-bleeding-heart;
}

.icon-bolt-shield:before {
  content: $ra-var-icon-bolt-shield;
}

.icon-bomb-explosion:before {
  content: $ra-var-icon-bomb-explosion;
}

.icon-bombs:before {
  content: $ra-var-icon-bombs;
}

.icon-bone-bite:before {
  content: $ra-var-icon-bone-bite;
}

.icon-bone-knife:before {
  content: $ra-var-icon-bone-knife;
}

.icon-book:before {
  content: $ra-var-icon-book;
}

.icon-boomerang:before {
  content: $ra-var-icon-boomerang;
}

.icon-boot-stomp:before {
  content: $ra-var-icon-boot-stomp;
}

.icon-bottle-vapors:before {
  content: $ra-var-icon-bottle-vapors;
}

.icon-bottled-bolt:before {
  content: $ra-var-icon-bottled-bolt;
}

.icon-bottom-right:before {
  content: $ra-var-icon-bottom-right;
}

.icon-bowie-knife:before {
  content: $ra-var-icon-bowie-knife;
}

.icon-bowling-pin:before {
  content: $ra-var-icon-bowling-pin;
}

.icon-brain-freeze:before {
  content: $ra-var-icon-brain-freeze;
}

.icon-brandy-bottle:before {
  content: $ra-var-icon-brandy-bottle;
}

.icon-bridge:before {
  content: $ra-var-icon-bridge;
}

.icon-broadhead-arrow:before {
  content: $ra-var-icon-broadhead;
}

.icon-broadsword:before {
  content: $ra-var-icon-broadsword;
}

.icon-broken-bone:before {
  content: $ra-var-icon-broken-bone;
}

.icon-broken-bottle:before {
  content: $ra-var-icon-broken-bottle;
}

.icon-broken-heart:before {
  content: $ra-var-icon-broken-bottle;
}

.icon-broken-shield:before {
  content: $ra-var-icon-broken-shield;
}

.icon-broken-skull:before {
  content: $ra-var-icon-broken-skull;
}

.icon-bubbling-potion:before {
  content: $ra-var-icon-bubbling-potion;
}

.icon-bullets:before {
  content: $ra-var-icon-bullets;
}

.icon-burning-book:before {
  content: $ra-var-icon-burning-book;
}

.icon-burning-embers:before {
  content: $ra-var-icon-burning-embers;
}

.icon-burning-eye:before {
  content: $ra-var-icon-burning-eye;
}

.icon-burning-meteor:before {
  content: $ra-var-icon-burning-meteor;
}

.icon-burst-blob:before {
  content: $ra-var-icon-burst-blob;
}

.icon-butterfly:before {
  content: $ra-var-icon-butterfly;
}

.icon-campfire:before {
  content: $ra-var-icon-campfire;
}

.icon-cancel:before {
  content: $ra-var-icon-cancel;
}

.icon-cancer:before {
  content: $ra-var-icon-cancer;
}

.icon-candle:before {
  content: $ra-var-icon-candle;
}

.icon-candle-fire:before {
  content: $ra-var-icon-candle-fire;
}

.icon-cannon-shot:before {
  content: $ra-var-icon-cannon-shot;
}

.icon-capitol:before {
  content: $ra-var-icon-capitol;
}

.icon-capricorn:before {
  content: $ra-var-icon-capricorn;
}

.icon-carrot:before {
  content: $ra-var-icon-carrot;
}

.icon-castle-emblem:before {
  content: $ra-var-icon-castle-emblem;
}

.icon-castle-flag:before {
  content: $ra-var-icon-castle-flag;
}

.icon-cat:before {
  content: $ra-var-icon-cat;
}

.icon-chain:before {
  content: $ra-var-icon-chain;
}

.icon-cheese:before {
  content: $ra-var-icon-cheese;
}

.icon-chemical-arrow:before {
  content: $ra-var-icon-chemical-arrow;
}

.icon-chessboard:before {
  content: $ra-var-icon-chessboard;
}

.icon-chicken-leg:before {
  content: $ra-var-icon-chicken-leg;
}

.icon-circle-of-circles:before {
  content: $ra-var-icon-circle-of-circles;
}

.icon-circular-saw:before {
  content: $ra-var-icon-circular-saw;
}

.icon-circular-shield:before {
  content: $ra-var-icon-circular-shield;
}

.icon-cloak-and-dagger:before {
  content: $ra-var-icon-cloak-and-dagger;
}

.icon-clockwork:before {
  content: $ra-var-icon-clockwork;
}

.icon-clover:before {
  content: $ra-var-icon-clover;
}

.icon-clovers:before {
  content: $ra-var-icon-clovers;
}

.icon-clovers-card:before {
  content: $ra-var-icon-clovers-card;
}

.icon-cluster-bomb:before {
  content: $ra-var-icon-cluster-bomb;
}

.icon-coffee-mug:before {
  content: $ra-var-icon-coffee-mug;
}

.icon-cog:before {
  content: $ra-var-icon-cog;
}

.icon-cog-wheel:before {
  content: $ra-var-icon-cog-wheel;
}

.icon-cold-heart:before {
  content: $ra-var-icon-cold-heart;
}

.icon-compass:before {
  content: $ra-var-icon-compass;
}

.icon-corked-tube:before {
  content: $ra-var-icon-corked-tube;
}

.icon-crab-claw:before {
  content: $ra-var-icon-crab-claw;
}

.icon-cracked-helm:before {
  content: $ra-var-icon-cracked-helm;
}

.icon-cracked-shield:before {
  content: $ra-var-icon-cracked-shield;
}

.icon-croc-sword:before {
  content: $ra-var-icon-croc-shield;
}

.icon-crossbow:before {
  content: $ra-var-icon-crossbow;
}

.icon-crossed-axes:before {
  content: $ra-var-icon-crossed-axis;
}

.icon-crossed-bones:before {
  content: $ra-var-icon-crossed-bones;
}

.icon-crossed-pistols:before {
  content: $ra-var-icon-crossed-pistols;
}

.icon-crossed-sabres:before {
  content: $ra-var-icon-crossed-sabres;
}

.icon-crossed-swords:before {
  content: $ra-var-icon-crossed-swords;
}

.icon-crown:before {
  content: $ra-var-icon-crown;
}

.icon-crown-of-thorns:before {
  content: $ra-var-icon-crown-of-thorns;
}

.icon-crowned-heart:before {
  content: $ra-var-icon-crowned-heart;
}

.icon-crush:before {
  content: $ra-var-icon-crush;
}

.icon-crystal-ball:before {
  content: $ra-var-icon-crystal-ball;
}

.icon-crystal-cluster:before {
  content: $ra-var-icon-crystal-cluster;
}

.icon-crystal-wand:before {
  content: $ra-var-icon-crystal-wand;
}

.icon-crystals:before {
  content: $ra-var-icon-crystals;
}

.icon-cubes:before {
  content: $ra-var-icon-cubes;
}

.icon-cut-palm:before {
  content: $ra-var-icon-cut-palm;
}

.icon-cycle:before {
  content: $ra-var-icon-cycle;
}

.icon-daggers:before {
  content: $ra-var-icon-daggers;
}

.icon-daisy:before {
  content: $ra-var-icon-daisy;
}

.icon-dead-tree:before {
  content: $ra-var-icon-dead-tree;
}

.icon-death-skull:before {
  content: $ra-var-icon-death-skull;
}

.icon-decapitation:before {
  content: $ra-var-icon-decapitation;
}

.icon-defibrilate:before {
  content: $ra-var-icon-defibrilate;
}

.icon-demolish:before {
  content: $ra-var-icon-demolish;
}

.icon-dervish-swords:before {
  content: $ra-var-icon-dervish-swords;
}

.icon-desert-skull:before {
  content: $ra-var-icon-desert-skull;
}

.icon-diamond:before {
  content: $ra-var-icon-diamond;
}

.icon-diamonds:before {
  content: $ra-var-icon-diamonds;
}

.icon-diamonds-card:before {
  content: $ra-var-icon-diamonds-card;
}

.icon-dice-five:before {
  content: $ra-var-icon-dice-five;
}

.icon-dice-four:before {
  content: $ra-var-icon-dice-four;
}

.icon-dice-one:before {
  content: $ra-var-icon-dice-one;
}

.icon-dice-six:before {
  content: $ra-var-icon-dice-six;
}

.icon-dice-three:before {
  content: $ra-var-icon-dice-three;
}

.icon-dice-two:before {
  content: $ra-var-icon-dice-two;
}

.icon-dinosaur:before {
  content: $ra-var-icon-dinosaur;
}

.icon-divert:before {
  content: $ra-var-icon-divert;
}

.icon-diving-dagger:before {
  content: $ra-var-icon-diving-dagger;
}

.icon-double-team:before {
  content: $ra-var-icon-double-team;
}

.icon-doubled:before {
  content: $ra-var-icon-double;
}

.icon-dragon:before {
  content: $ra-var-icon-dragon;
}

.icon-dragon-breath:before {
  content: $ra-var-icon-dragon-breath;
}

.icon-dragon-wing:before {
  content: $ra-var-icon-dragon-wing;
}

.icon-dragonfly:before {
  content: $ra-var-icon-dragonfly;
}

.icon-drill:before {
  content: $ra-var-icon-drill;
}

.icon-dripping-blade:before {
  content: $ra-var-icon-dripping-blade;
}

.icon-dripping-knife:before {
  content: $ra-var-icon-dripping-knife;
}

.icon-dripping-sword:before {
  content: $ra-var-icon-dripping-sword;
}

.icon-droplet:before {
  content: $ra-var-icon-droplet;
}

.icon-droplet-splash:before {
  content: $ra-var-icon-droplet-splash;
}

.icon-droplets:before {
  content: $ra-var-icon-droplets;
}

.icon-duel:before {
  content: $ra-var-icon-duel;
}

.icon-egg:before {
  content: $ra-var-icon-egg;
}

.icon-egg-pod:before {
  content: $ra-var-icon-egg-pod;
}

.icon-eggplant:before {
  content: $ra-var-icon-eggplant;
}

.icon-emerald:before {
  content: $ra-var-icon-emerald;
}

.icon-energise:before {
  content: $ra-var-icon-energise;
}

.icon-explosion:before {
  content: $ra-var-icon-explosion;
}

.icon-explosive-materials:before {
  content: $ra-var-icon-explosive-materials;
}

.icon-eye-monster:before {
  content: $ra-var-icon-eye-monster;
}

.icon-eye-shield:before {
  content: $ra-var-icon-eye-shield;
}

.icon-eyeball:before {
  content: $ra-var-icon-eyeball;
}

.icon-fairy:before {
  content: $ra-var-icon-fairy;
}

.icon-fairy-wand:before {
  content: $ra-var-icon-fairy-wand;
}

.icon-fall-down:before {
  content: $ra-var-icon-fall-down;
}

.icon-falling:before {
  content: $ra-var-icon-falling;
}

.icon-fast-ship:before {
  content: $ra-var-icon-fast-ship;
}

.icon-feather-wing:before {
  content: $ra-var-icon-feather-wing;
}

.icon-feathered-wing:before {
  content: $ra-var-icon-feathered-wing;
}

.icon-fedora:before {
  content: $ra-var-icon-fedora;
}

.icon-fire:before {
  content: $ra-var-icon-fire;
}

.icon-fire-bomb:before {
  content: $ra-var-icon-fire-bomb;
}

.icon-fire-breath:before {
  content: $ra-var-icon-fire-breath;
}

.icon-fire-ring:before {
  content: $ra-var-icon-fire-ring;
}

.icon-fire-shield:before {
  content: $ra-var-icon-fire-shield;
}

.icon-fire-symbol:before {
  content: $ra-var-icon-fire-symbol;
}

.icon-fireball-sword:before {
  content: $ra-var-icon-fireball-sword;
}

.icon-fish:before {
  content: $ra-var-icon-fish;
}

.icon-fizzing-flask:before {
  content: $ra-var-icon-fizzing-flask;
}

.icon-flame-symbol:before {
  content: $ra-var-icon-flame-symbol;
}

.icon-flaming-arrow:before {
  content: $ra-var-icon-flaming-arrow;
}

.icon-flaming-claw:before {
  content: $ra-var-icon-flaming-claw;
}

.icon-flaming-trident:before {
  content: $ra-var-icon-flaming-trident;
}

.icon-flask:before {
  content: $ra-var-icon-flask;
}

.icon-flat-hammer:before {
  content: $ra-var-icon-flask-hammer;
}

.icon-flower:before {
  content: $ra-var-icon-flower;
}

.icon-flowers:before {
  content: $ra-var-icon-flowers;
}

.icon-fluffy-swirl:before {
  content: $ra-var-icon-fluffy-swirl;
}

.icon-focused-lightning:before {
  content: $ra-var-icon-focused-lightning;
}

.icon-food-chain:before {
  content: $ra-var-icon-food-chain;
}

.icon-footprint:before {
  content: $ra-var-icon-footprint;
}

.icon-forging:before {
  content: $ra-var-icon-forging;
}

.icon-forward:before {
  content: $ra-var-icon-forward;
}

.icon-fox:before {
  content: $ra-var-icon-fox;
}

.icon-frost-emblem:before {
  content: $ra-var-icon-frost-emblem;
}

.icon-frostfire:before {
  content: $ra-var-icon-frostfire;
}

.icon-frozen-arrow:before {
  content: $ra-var-icon-frozen-arrow;
}

.icon-gamepad-cross:before {
  content: $ra-var-icon-gamepad-corss;
}

.icon-gavel:before {
  content: $ra-var-icon-gravel;
}

.icon-gear-hammer:before {
  content: $ra-var-icon-gear-hammer;
}

.icon-gear-heart:before {
  content: $ra-var-icon-gear-heart;
}

.icon-gears:before {
  content: $ra-var-icon-gears;
}

.icon-gecko:before {
  content: $ra-var-icon-gecko;
}

.icon-gem:before {
  content: $ra-var-icon-gem;
}

.icon-gem-pendant:before {
  content: $ra-var-icon-gem-pendant;
}

.icon-gemini:before {
  content: $ra-var-icon-gemini;
}

.icon-glass-heart:before {
  content: $ra-var-icon-glass-heart;
}

.icon-gloop:before {
  content: $ra-var-icon-gloop;
}

.icon-gold-bar:before {
  content: $ra-var-icon-gold-bar;
}

.icon-grappling-hook:before {
  content: $ra-var-icon-grappling-hook;
}

.icon-grass:before {
  content: $ra-var-icon-grass;
}

.icon-grass-patch:before {
  content: $ra-var-icon-grass-patch;
}

.icon-grenade:before {
  content: $ra-var-icon-grenade;
}

.icon-groundbreaker:before {
  content: $ra-var-icon-groundbreaker;
}

.icon-guarded-tower:before {
  content: $ra-var-icon-guarded-tower;
}

.icon-guillotine:before {
  content: $ra-var-icon-guillotine;
}

.icon-halberd:before {
  content: $ra-var-icon-halberd;
}

.icon-hammer:before {
  content: $ra-var-icon-hammer;
}

.icon-hammer-drop:before {
  content: $ra-var-icon-hammer-drop;
}

.icon-hand:before {
  content: $ra-var-icon-hand;
}

.icon-hand-emblem:before {
  content: $ra-var-icon-hand-emblem;
}

.icon-hand-saw:before {
  content: $ra-var-icon-hand-saw;
}

.icon-harpoon-trident:before {
  content: $ra-var-icon-harpoon-trident;
}

.icon-health:before {
  content: $ra-var-icon-health;
}

.icon-health-decrease:before {
  content: $ra-var-icon-health-decrease;
}

.icon-health-increase:before {
  content: $ra-var-icon-health-increase;
}

.icon-heart-bottle:before {
  content: $ra-var-icon-heart-bottle;
}

.icon-heart-tower:before {
  content: $ra-var-icon-heart-tower;
}

.icon-heartburn:before {
  content: $ra-var-icon-heartburn;
}

.icon-hearts:before {
  content: $ra-var-icon-hearts;
}

.icon-hearts-card:before {
  content: $ra-var-icon-hearts-card;
}

.icon-heat-haze:before {
  content: $ra-var-icon-heart-haze;
}

.icon-heavy-fall:before {
  content: $ra-var-icon-heavy-fall;
}

.icon-heavy-shield:before {
  content: $ra-var-icon-heavy-shield;
}

.icon-helmet:before {
  content: $ra-var-icon-helmet;
}

.icon-help:before {
  content: $ra-var-icon-help;
}

.icon-hive-emblem:before {
  content: $ra-var-icon-hive-emblem;
}

.icon-hole-ladder:before {
  content: $ra-var-icon-hole-ladder;
}

.icon-honeycomb:before {
  content: $ra-var-icon-honeycomb;
}

.icon-hood:before {
  content: $ra-var-icon-hood;
}

.icon-horn-call:before {
  content: $ra-var-icon-horn-call;
}

.icon-horns:before {
  content: $ra-var-icon-horns;
}

.icon-horseshoe:before {
  content: $ra-var-icon-horseshoe;
}

.icon-hospital-cross:before {
  content: $ra-var-icon-hospital-cross;
}

.icon-hot-surface:before {
  content: $ra-var-icon-hot-surface;
}

.icon-hourglass:before {
  content: $ra-var-icon-hourglass;
}

.icon-hydra:before {
  content: $ra-var-icon-hydra;
}

.icon-hydra-shot:before {
  content: $ra-var-icon-hydra-shot;
}

.icon-ice-cube:before {
  content: $ra-var-icon-ice-cube;
}

.icon-implosion:before {
  content: $ra-var-icon-implosion;
}

.icon-incense:before {
  content: $ra-var-icon-incense;
}

.icon-insect-jaws:before {
  content: $ra-var-icon-insect-jaws;
}

.icon-interdiction:before {
  content: $ra-var-icon-interdiction;
}

.icon-jetpack:before {
  content: $ra-var-icon-jetpack;
}

.icon-jigsaw-piece:before {
  content: $ra-var-icon-jigsaw;
}

.icon-kaleidoscope:before {
  content: $ra-var-icon-kaleidoscope;
}

.icon-kettlebell:before {
  content: $ra-var-icon-kettlebell;
}

.icon-key:before {
  content: $ra-var-icon-keys;
}

.icon-key-basic:before {
  content: $ra-var-icon-key-basic;
}

.icon-kitchen-knives:before {
  content: $ra-var-icon-kitchen-knives;
}

.icon-knife:before {
  content: $ra-var-icon-knife;
}

.icon-knife-fork:before {
  content: $ra-var-icon-knife-fork;
}

.icon-knight-helmet:before {
  content: $ra-var-icon-knight-helmet;
}

.icon-kunai:before {
  content: $ra-var-icon-kunai;
}

.icon-lantern-flame:before {
  content: $ra-var-icon-lantern-flame;
}

.icon-large-hammer:before {
  content: $ra-var-icon-large-hammer;
}

.icon-laser-blast:before {
  content: $ra-var-icon-laser-blast;
}

.icon-laser-site:before {
  content: $ra-var-icon-laser-site;
}

.icon-lava:before {
  content: $ra-var-icon-lava;
}

.icon-leaf:before {
  content: $ra-var-icon-leaf;
}

.icon-leo:before {
  content: $ra-var-icon-leo;
}

.icon-level-four:before {
  content: $ra-var-icon-level-four;
}

.icon-level-four-advanced:before {
  content: $ra-var-icon-level-four-advanced;
}

.icon-level-three:before {
  content: $ra-var-icon-level-three;
}

.icon-level-three-advanced:before {
  content: $ra-var-icon-level-three-advanced;
}

.icon-level-two:before {
  content: $ra-var-icon-level-two;
}

.icon-level-two-advanced:before {
  content: $ra-var-icon-level-two-advanced;
}

.icon-lever:before {
  content: $ra-var-icon-lever;
}

.icon-libra:before {
  content: $ra-var-icon-libra;
}

.icon-light-bulb:before {
  content: $ra-var-icon-light-bulb;
}

.icon-lighthouse:before {
  content: $ra-var-icon-lighthouse;
}

.icon-lightning:before {
  content: $ra-var-icon-lightning;
}

.icon-lightning-bolt:before {
  content: $ra-var-icon-lightning-bolt;
}

.icon-lightning-storm:before {
  content: $ra-var-icon-lightning-storm;
}

.icon-lightning-sword:before {
  content: $ra-var-icon-lightning-sword;
}

.icon-lightning-trio:before {
  content: $ra-var-icon-lightning-trio;
}

.icon-lion:before {
  content: $ra-var-icon-lion;
}

.icon-lit-candelabra:before {
  content: $ra-var-icon-lit-candelabra;
}

.icon-load:before {
  content: $ra-var-icon-load;
}

.icon-locked-fortress:before {
  content: $ra-var-icon-locked-fortress;
}

.icon-love-howl:before {
  content: $ra-var-icon-love-howl;
}

.icon-maggot:before {
  content: $ra-var-icon-maggot;
}

.icon-magnet:before {
  content: $ra-var-icon-magnet;
}

.icon-mass-driver:before {
  content: $ra-var-icon-mass-driver;
}

.icon-match:before {
  content: $ra-var-icon-match;
}

.icon-meat:before {
  content: $ra-var-icon-meat;
}

.icon-meat-hook:before {
  content: $ra-var-icon-meat-hook;
}

.icon-medical-pack:before {
  content: $ra-var-icon-medical-pack;
}

.icon-metal-gate:before {
  content: $ra-var-icon-metal-gate;
}

.icon-microphone:before {
  content: $ra-var-icon-microphone;
}

.icon-mine-wagon:before {
  content: $ra-var-icon-mine-wagon;
}

.icon-mining-diamonds:before {
  content: $ra-var-icon-mining-diamonds;
}

.icon-mirror:before {
  content: $ra-var-icon-mirror;
}

.icon-monster-skull:before {
  content: $ra-var-icon-monster-skull;
}

.icon-montains:before {
  content: $ra-var-icon-mountains;
}

.icon-moon-sun:before {
  content: $ra-var-icon-moon-sun;
}

.icon-mp5:before {
  content: $ra-var-icon-mp5;
}

.icon-muscle-fat:before {
  content: $ra-var-icon-muscle-fat;
}

.icon-muscle-up:before {
  content: $ra-var-icon-muscle-up;
}

.icon-musket:before {
  content: $ra-var-icon-musket;
}

.icon-nails:before {
  content: $ra-var-icon-nails;
}

.icon-nodular:before {
  content: $ra-var-icon-nodular;
}

.icon-noose:before {
  content: $ra-var-icon-noose;
}

.icon-nuclear:before {
  content: $ra-var-icon-nuclear;
}

.icon-ocarina:before {
  content: $ra-var-icon-ocarina;
}

.icon-ocean-emblem:before {
  content: $ra-var-icon-ocean-emblem;
}

.icon-octopus:before {
  content: $ra-var-icon-octopus;
}

.icon-omega:before {
  content: $ra-var-icon-omega;
}

.icon-on-target:before {
  content: $ra-var-icon-on-target;
}

.icon-ophiuchus:before {
  content: $ra-var-icon-ophiuchus;
}

.icon-overhead:before {
  content: $ra-var-icon-overhead;
}

.icon-overmind:before {
  content: $ra-var-icon-overmind;
}

.icon-palm-tree:before {
  content: $ra-var-icon-palm-tree;
}

.icon-pawn:before {
  content: $ra-var-icon-pawn;
}

.icon-pawprint:before {
  content: $ra-var-icon-pawprint;
}

.icon-perspective-dice-five:before {
  content: $ra-var-icon-prespective-dice-five;
}

.icon-perspective-dice-four:before {
  content: $ra-var-icon-prespective-dice-four;
}

.icon-perspective-dice-one:before {
  content: $ra-var-icon-prespective-dice-one;
}

.icon-perspective-dice-random:before {
  content: $ra-var-icon-prespective-dice-random;
}

.icon-perspective-dice-six:before {
  content: $ra-var-icon-prespective-dice-six;
}

.icon-perspective-dice-six-two:before {
  content: $ra-var-icon-prespective-dice-six;
}

.icon-perspective-dice-three:before {
  content: $ra-var-icon-prespective-dice-three;
}

.icon-pill:before {
  content: $ra-var-icon-pill;
}

.icon-pills:before {
  content: $ra-var-icon-pills;
}

.icon-pine-tree:before {
  content: $ra-var-icon-pine-tree;
}

.icon-ping-pong:before {
  content: $ra-var-icon-ping-pong;
}

.icon-pisces:before {
  content: $ra-var-icon-pisces;
}

.icon-plain-dagger:before {
  content: $ra-var-icon-plain-dagger;
}

.icon-player:before {
  content: $ra-var-icon-player;
}

.icon-player-despair:before {
  content: $ra-var-icon-player-despair;
}

.icon-player-dodge:before {
  content: $ra-var-icon-player-dodge;
}

.icon-player-king:before {
  content: $ra-var-icon-player-kind;
}

.icon-player-lift:before {
  content: $ra-var-icon-player-lift;
}

.icon-player-pain:before {
  content: $ra-var-icon-player-pain;
}

.icon-player-pyromaniac:before {
  content: $ra-var-icon-player-pyromaniac;
}

.icon-player-shot:before {
  content: $ra-var-icon-player-shot;
}

.icon-player-teleport:before {
  content: $ra-var-icon-player-teleport;
}

.icon-player-thunder-struck:before {
  content: $ra-var-icon-player-thunder-struck;
}

.icon-podium:before {
  content: $ra-var-icon-podium;
}

.icon-poison-cloud:before {
  content: $ra-var-icon-poison-cloud;
}

.icon-potion:before {
  content: $ra-var-icon-potion;
}

.icon-pyramids:before {
  content: $ra-var-icon-pyramids;
}

.icon-queen-crown:before {
  content: $ra-var-icon-queen-crown;
}

.icon-quill-ink:before {
  content: $ra-var-icon-quill-ink;
}

.icon-rabbit:before {
  content: $ra-var-icon-rabbit;
}

.icon-radar-dish:before {
  content: $ra-var-icon-radar-dish;
}

.icon-radial-balance:before {
  content: $ra-var-icon-radial-balance;
}

.icon-radioactive:before {
  content: $ra-var-icon-radioactive;
}

.icon-raven:before {
  content: $ra-var-icon-raven;
}

.icon-reactor:before {
  content: $ra-var-icon-reactor;
}

.icon-recycle:before {
  content: $ra-var-icon-recycle;
}

.icon-regeneration:before {
  content: $ra-var-icon-regeneration;
}

.icon-relic-blade:before {
  content: $ra-var-icon-relic-blade;
}

.icon-repair:before {
  content: $ra-var-icon-repair;
}

.icon-reverse:before {
  content: $ra-var-icon-reverse;
}

.icon-revolver:before {
  content: $ra-var-icon-revolver;
}

.icon-rifle:before {
  content: $ra-var-icon-rifle;
}

.icon-ringing-bell:before {
  content: $ra-var-icon-ringing-bell;
}

.icon-roast-chicken:before {
  content: $ra-var-icon-roast-chicken;
}

.icon-robot-arm:before {
  content: $ra-var-icon-robot-arm;
}

.icon-round-bottom-flask:before {
  content: $ra-var-icon-round-bottom;
}

.icon-round-shield:before {
  content: $ra-var-icon-round-shield;
}

.icon-rss:before {
  content: $ra-var-icon-rss;
}

.icon-rune-stone:before {
  content: $ra-var-icon-rune-stone;
}

.icon-sagittarius:before {
  content: $ra-var-icon-sagittarius;
}

.icon-sapphire:before {
  content: $ra-var-icon-sapphire;
}

.icon-sattelite:before {
  content: $ra-var-icon-sattelite;
}

.icon-save:before {
  content: $ra-var-icon-save;
}

.icon-scorpio:before {
  content: $ra-var-icon-scorpio;
}

.icon-scroll-unfurled:before {
  content: $ra-var-icon-scroll-unfurled;
}

.icon-scythe:before {
  content: $ra-var-icon-scythe;
}

.icon-sea-serpent:before {
  content: $ra-var-icon-sea-serpent;
}

.icon-seagull:before {
  content: $ra-var-icon-seagull;
}

.icon-shark:before {
  content: $ra-var-icon-shark;
}

.icon-sheep:before {
  content: $ra-var-icon-sheep;
}

.icon-sherif:before {
  content: $ra-var-icon-sherif;
}

.icon-shield:before {
  content: $ra-var-icon-shield;
}

.icon-ship-emblem:before {
  content: $ra-var-icon-ship-emblem;
}

.icon-shoe-prints:before {
  content: $ra-var-icon-shoe-prints;
}

.icon-shot-through-the-heart:before {
  content: $ra-var-icon-shot-through-the-heart;
}

.icon-shotgun-shell:before {
  content: $ra-var-icon-shotgun-shell;
}

.icon-shovel:before {
  content: $ra-var-icon-shovel;
}

.icon-shuriken:before {
  content: $ra-var-icon-shuriken;
}

.icon-sickle:before {
  content: $ra-var-icon-sickle;
}

.icon-sideswipe:before {
  content: $ra-var-icon-sideswipe;
}

.icon-site:before {
  content: $ra-var-icon-site;
}

.icon-skull:before {
  content: $ra-var-icon-skull;
}

.icon-skull-trophy:before {
  content: $ra-var-icon-skull-trophy;
}

.icon-slash-ring:before {
  content: $ra-var-icon-slash-ring;
}

.icon-small-fire:before {
  content: $ra-var-icon-small-fire;
}

.icon-snail:before {
  content: $ra-var-icon-snail;
}

.icon-snake:before {
  content: $ra-var-icon-snake;
}

.icon-snorkel:before {
  content: $ra-var-icon-snorkel;
}

.icon-snowflake:before {
  content: $ra-var-icon-snowflake;
}

.icon-soccer-ball:before {
  content: $ra-var-icon-soccer-ball;
}

.icon-spades:before {
  content: $ra-var-icon-spades;
}

.icon-spades-card:before {
  content: $ra-var-icon-spades-card;
}

.icon-spawn-node:before {
  content: $ra-var-icon-spawn-node;
}

.icon-spear-head:before {
  content: $ra-var-icon-spear-head;
}

.icon-speech-bubble:before {
  content: $ra-var-icon-speech-bubble;
}

.icon-speech-bubbles:before {
  content: $ra-var-icon-speech-bubbles;
}

.icon-spider-face:before {
  content: $ra-var-icon-spider-face;
}

.icon-spikeball:before {
  content: $ra-var-icon-spikeball;
}

.icon-spiked-mace:before {
  content: $ra-var-icon-spiked-mace;
}

.icon-spiked-tentacle:before {
  content: $ra-var-icon-spiked-tentacle;
}

.icon-spinning-sword:before {
  content: $ra-var-icon-spinning-sword;
}

.icon-spiral-shell:before {
  content: $ra-var-icon-spiral-shell;
}

.icon-splash:before {
  content: $ra-var-icon-splash;
}

.icon-spray-can:before {
  content: $ra-var-icon-spray-can;
}

.icon-sprout:before {
  content: $ra-var-icon-sprout;
}

.icon-sprout-emblem:before {
  content: $ra-var-icon-sprout-emblem;
}

.icon-stopwatch:before {
  content: $ra-var-icon-stopwatch;
}

.icon-suckered-tentacle:before {
  content: $ra-var-icon-suckered-tenctacle;
}

.icon-suits:before {
  content: $ra-var-icon-suits;
}

.icon-sun:before {
  content: $ra-var-icon-sun;
}

.icon-sun-symbol:before {
  content: $ra-var-icon-sun-symbol;
}

.icon-sunbeams:before {
  content: $ra-var-icon-sunbeams;
}

.icon-super-mushroom:before {
  content: $ra-var-icon-super-mushroom;
}

.icon-supersonic-arrow:before {
  content: $ra-var-icon-supersonic-arrow;
}

.icon-surveillance-camera:before {
  content: $ra-var-icon-surveillance-camera;
}

.icon-syringe:before {
  content: $ra-var-icon-syringe;
}

.icon-target-arrows:before {
  content: $ra-var-icon-target-arrows;
}

.icon-target-laser:before {
  content: $ra-var-icon-target-laser;
}

.icon-targeted:before {
  content: $ra-var-icon-targeted;
}

.icon-taurus:before {
  content: $ra-var-icon-taurus;
}

.icon-telescope:before {
  content: $ra-var-icon-telescope;
}

.icon-tentacle:before {
  content: $ra-var-icon-tentacle;
}

.icon-tesla:before {
  content: $ra-var-icon-tesla;
}

.icon-thorn-arrow:before {
  content: $ra-var-icon-thorn-arrow;
}

.icon-thorny-vine:before {
  content: $ra-var-icon-thorny-vine;
}

.icon-three-keys:before {
  content: $ra-var-icon-three-keys;
}

.icon-tic-tac-toe:before {
  content: $ra-var-icon-tic-tac-toe;
}

.icon-toast:before {
  content: $ra-var-icon-toast;
}

.icon-tombstone:before {
  content: $ra-var-icon-tombstone;
}

.icon-tooth:before {
  content: $ra-var-icon-tooth;
}

.icon-torch:before {
  content: $ra-var-icon-torch;
}

.icon-tower:before {
  content: $ra-var-icon-tower;
}

.icon-trail:before {
  content: $ra-var-icon-trial;
}

.icon-trefoil-lily:before {
  content: $ra-var-icon-trefoil-lily;
}

.icon-trident:before {
  content: $ra-var-icon-trident;
}

.icon-triforce:before {
  content: $ra-var-icon-triforce;
}

.icon-trophy:before {
  content: $ra-var-icon-trophy;
}

.icon-turd:before {
  content: $ra-var-icon-turd;
}

.icon-two-dragons:before {
  content: $ra-var-icon-two-dragons;
}

.icon-two-hearts:before {
  content: $ra-var-icon-two-hearts;
}

.icon-uncertainty:before {
  content: $ra-var-icon-uncertainty;
}

.icon-underhand:before {
  content: $ra-var-icon-underhand;
}

.icon-unplugged:before {
  content: $ra-var-icon-unplugged;
}

.icon-vase:before {
  content: $ra-var-icon-vase;
}

.icon-venomous-snake:before {
  content: $ra-var-icon-venomous-snake;
}

.icon-vest:before {
  content: $ra-var-icon-vest;
}

.icon-vial:before {
  content: $ra-var-icon-vial;
}

.icon-vine-whip:before {
  content: $ra-var-icon-vine-whip;
}

.icon-virgo:before {
  content: $ra-var-icon-virgo;
}

.icon-water-drop:before {
  content: $ra-var-icon-water-drop;
}

.icon-wifi:before {
  content: $ra-var-icon-wifi;
}

.icon-wireless-signal:before {
  content: $ra-var-icon-wireless-signal;
}

.icon-wolf-head:before {
  content: $ra-var-icon-wolf-head;
}

.icon-wolf-howl:before {
  content: $ra-var-icon-wolf-howl;
}

.icon-wooden-sign:before {
  content: $ra-var-icon-wodden-sign;
}

.icon-wrench:before {
  content: $ra-var-icon-wrench;
}

.icon-wyvern:before {
  content: $ra-var-icon-wyvern;
}

.icon-x-mark:before {
  content: $ra-var-icon-x-mark;
}

.icon-zebra-shield:before {
  content: $ra-var-icon-zebra-shield;
}

.icon-arcane-mask:before {
  content: $ra-var-icon-arcane-mask;
}

.icon-aquarius:before {
  content: $ra-var-icon-aquarius;
}

.icon-apple:before {
  content: $ra-var-icon-apple;
}

.icon-anvil:before {
  content: $ra-var-icon-anvil;
}

.icon-ankh:before {
  content: $ra-var-icon-ankh;
}

.icon-angel-wings:before {
  content: $ra-var-icon-angel-wings;
}

.icon-anchor:before {
  content: $ra-var-icon-anchor;
}

.icon-ammo-bag:before {
  content: $ra-var-icon-ammo-bag;
}

.icon-alligator-clip:before {
  content: $ra-var-icon-alligator-clip;
}

.icon-all-for-one:before {
  content: $ra-var-icon-all-for-one;
}

.icon-alien-fire:before {
  content: $ra-var-icon-alien-fire;
}

.icon-acorn:before {
  content: $ra-var-icon-acorn;
}
