// List Icons
// -------------------------

.#{$ra-css-prefix}-ul {
  list-style-type: none;
  margin-left: $ra-li-width;
  padding-left: 0;
  > li { position: relative; }
}

.#{$ra-css-prefix}-li {
  left: -$ra-li-width;
  position: absolute;
  text-align: center;
  top: (2em / 14);
  width: $ra-li-width;

  &.#{$ra-css-prefix}-lg {
    left: -$ra-li-width + (4em / 14);
  }

}
