// Variables
// --------------------------

$ra-font-path:        '../fonts' !default;
$ra-css-prefix:       ra !default;
$ra-version:          '0.0.1' !default;
$ra-border-color:     #eee !default;
$ra-inverse:          #fff !default;
$ra-li-width:         (30em / 14) !default;

$ra-var-icon-acid: "a";
$ra-var-icon-acorn: "b";
$ra-var-icon-alien-fire: "c";
$ra-var-icon-all-for-one: "d";
$ra-var-icon-alligator-clip: "e";
$ra-var-icon-ammo-bag: "f";
$ra-var-icon-anchor: "g";
$ra-var-icon-angel-wings: "h";
$ra-var-icon-ankh: "i";
$ra-var-icon-anvil: "j";
$ra-var-icon-apple: "k";
$ra-var-icon-aquarius: "l";
$ra-var-icon-arcane-mask: "m";
$ra-var-icon-archer: "n";
$ra-var-icon-archery-target: "o";
$ra-var-icon-arena: "p";
$ra-var-icon-aries: "q";
$ra-var-icon-arrow-cluster: "r";
$ra-var-icon-arrow-flights: "s";
$ra-var-icon-arson: "t";
$ra-var-icon-aura: "u";
$ra-var-icon-aware: "v";
$ra-var-icon-axe: "w";
$ra-var-icon-axe-swing: "x";
$ra-var-icon-ball: "y";
$ra-var-icon-barbed-arrow: "z";
$ra-var-icon-barrier: "A";
$ra-var-icon-bat-sword: "B";
$ra-var-icon-battered-axe: "C";
$ra-var-icon-batteries: "D";
$ra-var-icon-battery-0: "E";
$ra-var-icon-battery-25: "F";
$ra-var-icon-battery-50: "G";
$ra-var-icon-battery-75: "H";
$ra-var-icon-battery-100: "I";
$ra-var-icon-battery-black: "J";
$ra-var-icon-battery-negative: "K";
$ra-var-icon-battery-positive: "L";
$ra-var-icon-battery-white: "M";
$ra-var-icon-batwings: "N";
$ra-var-icon-beam-wake: "O";
$ra-var-icon-bear-trap: "P";
$ra-var-icon-beer: "Q";
$ra-var-icon-beetle: "R";
$ra-var-icon-bell: "S";
$ra-var-icon-biohazard: "T";
$ra-var-icon-bird-claw: "U";
$ra-var-icon-bird-mask: "V";
$ra-var-icon-blade-bite: "W";
$ra-var-icon-blast: "X";
$ra-var-icon-blaster: "Y";
$ra-var-icon-bleeding-eye: "Z";
$ra-var-icon-bleeding-hearts: "0";
$ra-var-icon-bolt-shield: "1";
$ra-var-icon-bomb-explosion: "2";
$ra-var-icon-bombs: "3";
$ra-var-icon-bone-bite: "4";
$ra-var-icon-bone-knife: "5";
$ra-var-icon-book: "6";
$ra-var-icon-boomerang: "7";
$ra-var-icon-boot-stomp: "8";
$ra-var-icon-bottle-vapors: "9";
$ra-var-icon-bottled-bolt: "!";
$ra-var-icon-bottom-right: "\"";
$ra-var-icon-bowie-knife: "#";
$ra-var-icon-bowling-pin: "$";
$ra-var-icon-brain-freeze: "%";
$ra-var-icon-brandy-bottle: "&";
$ra-var-icon-bridge: "'";
$ra-var-icon-broadhead-arrow: "(";
$ra-var-icon-broadsword: ")";
$ra-var-icon-broken-bone: "*";
$ra-var-icon-broken-bottle: "+";
$ra-var-icon-broken-heart: ",";
$ra-var-icon-broken-shield: "-";
$ra-var-icon-broken-skull: ".";
$ra-var-icon-bubbling-potion: "/";
$ra-var-icon-bullets: ":";
$ra-var-icon-burning-book: ";";
$ra-var-icon-burning-embers: "<";
$ra-var-icon-burning-eye: "=";
$ra-var-icon-burning-meteor: ">";
$ra-var-icon-burst-blob: "?";
$ra-var-icon-butterfly: "@";
$ra-var-icon-campfire: "[";
$ra-var-icon-cancel: "]";
$ra-var-icon-cancer: "^";
$ra-var-icon-candle: "_";
$ra-var-icon-candle-fire: "`";
$ra-var-icon-cannon-shot: "{";
$ra-var-icon-capitol: "|";
$ra-var-icon-capricorn: "}";
$ra-var-icon-carrot: "~";
$ra-var-icon-castle-emblem: "\\";
$ra-var-icon-castle-flag: "\e000";
$ra-var-icon-cat: "\e001";
$ra-var-icon-chain: "\e002";
$ra-var-icon-cheese: "\e003";
$ra-var-icon-chemical-arrow: "\e004";
$ra-var-icon-chessboard: "\e005";
$ra-var-icon-chicken-leg: "\e006";
$ra-var-icon-circle-of-circles: "\e007";
$ra-var-icon-circular-saw: "\e008";
$ra-var-icon-circular-shield: "\e009";
$ra-var-icon-cloak-and-dagger: "\e00a";
$ra-var-icon-clockwork: "\e00b";
$ra-var-icon-clover: "\e00c";
$ra-var-icon-clovers: "\e00d";
$ra-var-icon-clovers-card: "\e00e";
$ra-var-icon-cluster-bomb: "\e00f";
$ra-var-icon-coffee-mug: "\e010";
$ra-var-icon-cog: "\e011";
$ra-var-icon-cog-wheel: "\e012";
$ra-var-icon-cold-heart: "\e013";
$ra-var-icon-compass: "\e014";
$ra-var-icon-corked-tube: "\e015";
$ra-var-icon-crab-claw: "\e016";
$ra-var-icon-cracked-helm: "\e017";
$ra-var-icon-cracked-shield: "\e018";
$ra-var-icon-croc-sword: "\e019";
$ra-var-icon-crossbow: "\e01a";
$ra-var-icon-crossed-axes: "\e01b";
$ra-var-icon-crossed-bones: "\e01c";
$ra-var-icon-crossed-pistols: "\e01d";
$ra-var-icon-crossed-sabres: "\e01e";
$ra-var-icon-crossed-swords: "\e01f";
$ra-var-icon-crown: "\e020";
$ra-var-icon-crown-of-thorns: "\e021";
$ra-var-icon-crowned-heart: "\e022";
$ra-var-icon-crush: "\e023";
$ra-var-icon-crystal-ball: "\e024";
$ra-var-icon-crystal-cluster: "\e025";
$ra-var-icon-crystal-wand: "\e026";
$ra-var-icon-crystals: "\e027";
$ra-var-icon-cubes: "\e028";
$ra-var-icon-cut-palm: "\e029";
$ra-var-icon-cycle: "\e02a";
$ra-var-icon-daggers: "\e02b";
$ra-var-icon-daisy: "\e02c";
$ra-var-icon-dead-tree: "\e02d";
$ra-var-icon-death-skull: "\e02e";
$ra-var-icon-decapitation: "\e02f";
$ra-var-icon-defibrilate: "\e030";
$ra-var-icon-demolish: "\e031";
$ra-var-icon-dervish-swords: "\e032";
$ra-var-icon-desert-skull: "\e033";
$ra-var-icon-diamond: "\e034";
$ra-var-icon-diamonds: "\e035";
$ra-var-icon-diamonds-card: "\e036";
$ra-var-icon-dice-five: "\e037";
$ra-var-icon-dice-four: "\e038";
$ra-var-icon-dice-one: "\e039";
$ra-var-icon-dice-six: "\e03a";
$ra-var-icon-dice-three: "\e03b";
$ra-var-icon-dice-two: "\e03c";
$ra-var-icon-dinosaur: "\e03d";
$ra-var-icon-divert: "\e03e";
$ra-var-icon-diving-dagger: "\e03f";
$ra-var-icon-double-team: "\e040";
$ra-var-icon-doubled: "\e041";
$ra-var-icon-dragon: "\e042";
$ra-var-icon-dragon-breath: "\e043";
$ra-var-icon-dragon-wing: "\e044";
$ra-var-icon-dragonfly: "\e045";
$ra-var-icon-drill: "\e046";
$ra-var-icon-dripping-blade: "\e047";
$ra-var-icon-dripping-knife: "\e048";
$ra-var-icon-dripping-sword: "\e049";
$ra-var-icon-droplet: "\e04a";
$ra-var-icon-droplet-splash: "\e04b";
$ra-var-icon-droplets: "\e04c";
$ra-var-icon-duel: "\e04d";
$ra-var-icon-egg: "\e04e";
$ra-var-icon-egg-pod: "\e04f";
$ra-var-icon-eggplant: "\e050";
$ra-var-icon-emerald: "\e051";
$ra-var-icon-energise: "\e052";
$ra-var-icon-explosion: "\e053";
$ra-var-icon-explosive-materials: "\e054";
$ra-var-icon-eye-monster: "\e055";
$ra-var-icon-eye-shield: "\e056";
$ra-var-icon-eyeball: "\e057";
$ra-var-icon-fairy: "\e058";
$ra-var-icon-fairy-wand: "\e059";
$ra-var-icon-fall-down: "\e05a";
$ra-var-icon-falling: "\e05b";
$ra-var-icon-fast-ship: "\e05c";
$ra-var-icon-feather-wing: "\e05d";
$ra-var-icon-feathered-wing: "\e05e";
$ra-var-icon-fedora: "\e05f";
$ra-var-icon-fire: "\e060";
$ra-var-icon-fire-bomb: "\e061";
$ra-var-icon-fire-breath: "\e062";
$ra-var-icon-fire-ring: "\e063";
$ra-var-icon-fire-shield: "\e064";
$ra-var-icon-fire-symbol: "\e065";
$ra-var-icon-fireball-sword: "\e066";
$ra-var-icon-fish: "\e067";
$ra-var-icon-fizzing-flask: "\e068";
$ra-var-icon-flame-symbol: "\e069";
$ra-var-icon-flaming-arrow: "\e06a";
$ra-var-icon-flaming-claw: "\e06b";
$ra-var-icon-flaming-trident: "\e06c";
$ra-var-icon-flask: "\e06d";
$ra-var-icon-flat-hammer: "\e06e";
$ra-var-icon-flower: "\e06f";
$ra-var-icon-flowers: "\e070";
$ra-var-icon-fluffy-swirl: "\e071";
$ra-var-icon-focused-lightning: "\e072";
$ra-var-icon-food-chain: "\e073";
$ra-var-icon-footprint: "\e074";
$ra-var-icon-forging: "\e075";
$ra-var-icon-forward: "\e076";
$ra-var-icon-fox: "\e077";
$ra-var-icon-frost-emblem: "\e078";
$ra-var-icon-frostfire: "\e079";
$ra-var-icon-frozen-arrow: "\e07a";
$ra-var-icon-gamepad-cross: "\e07b";
$ra-var-icon-gavel: "\e07c";
$ra-var-icon-gear-hammer: "\e07d";
$ra-var-icon-gear-heart: "\e07e";
$ra-var-icon-gears: "\e07f";
$ra-var-icon-gecko: "\e080";
$ra-var-icon-gem: "\e081";
$ra-var-icon-gem-pendant: "\e082";
$ra-var-icon-gemini: "\e083";
$ra-var-icon-glass-heart: "\e084";
$ra-var-icon-gloop: "\e085";
$ra-var-icon-gold-bar: "\e086";
$ra-var-icon-grappling-hook: "\e087";
$ra-var-icon-grass: "\e088";
$ra-var-icon-grass-patch: "\e089";
$ra-var-icon-grenade: "\e08a";
$ra-var-icon-groundbreaker: "\e08b";
$ra-var-icon-guarded-tower: "\e08c";
$ra-var-icon-guillotine: "\e08d";
$ra-var-icon-halberd: "\e08e";
$ra-var-icon-hammer: "\e08f";
$ra-var-icon-hammer-drop: "\e090";
$ra-var-icon-hand: "\e091";
$ra-var-icon-hand-emblem: "\e092";
$ra-var-icon-hand-saw: "\e093";
$ra-var-icon-harpoon-trident: "\e094";
$ra-var-icon-health: "\e095";
$ra-var-icon-health-decrease: "\e096";
$ra-var-icon-health-increase: "\e097";
$ra-var-icon-heart-bottle: "\e098";
$ra-var-icon-heart-tower: "\e099";
$ra-var-icon-heartburn: "\e09a";
$ra-var-icon-hearts: "\e09b";
$ra-var-icon-hearts-card: "\e09c";
$ra-var-icon-heat-haze: "\e09d";
$ra-var-icon-heavy-fall: "\e09e";
$ra-var-icon-heavy-shield: "\e09f";
$ra-var-icon-helmet: "\e0a0";
$ra-var-icon-help: "\e0a1";
$ra-var-icon-hive-emblem: "\e0a2";
$ra-var-icon-hole-ladder: "\e0a3";
$ra-var-icon-honeycomb: "\e0a4";
$ra-var-icon-hood: "\e0a5";
$ra-var-icon-horn-call: "\e0a6";
$ra-var-icon-horns: "\e0a7";
$ra-var-icon-horseshoe: "\e0a8";
$ra-var-icon-hospital-cross: "\e0a9";
$ra-var-icon-hot-surface: "\e0aa";
$ra-var-icon-hourglass: "\e0ab";
$ra-var-icon-hydra: "\e0ac";
$ra-var-icon-hydra-shot: "\e0ad";
$ra-var-icon-ice-cube: "\e0ae";
$ra-var-icon-implosion: "\e0af";
$ra-var-icon-incense: "\e0b0";
$ra-var-icon-insect-jaws: "\e0b1";
$ra-var-icon-interdiction: "\e0b2";
$ra-var-icon-jetpack: "\e0b3";
$ra-var-icon-jigsaw-piece: "\e0b4";
$ra-var-icon-kaleidoscope: "\e0b5";
$ra-var-icon-kettlebell: "\e0b6";
$ra-var-icon-key: "\e0b7";
$ra-var-icon-key-basic: "\e0b8";
$ra-var-icon-kitchen-knives: "\e0b9";
$ra-var-icon-knife: "\e0ba";
$ra-var-icon-knife-fork: "\e0bb";
$ra-var-icon-knight-helmet: "\e0bc";
$ra-var-icon-kunai: "\e0bd";
$ra-var-icon-lantern-flame: "\e0be";
$ra-var-icon-large-hammer: "\e0bf";
$ra-var-icon-laser-blast: "\e0c0";
$ra-var-icon-laser-site: "\e0c1";
$ra-var-icon-lava: "\e0c2";
$ra-var-icon-leaf: "\e0c3";
$ra-var-icon-leo: "\e0c4";
$ra-var-icon-level-four: "\e0c5";
$ra-var-icon-level-four-advanced: "\e0c6";
$ra-var-icon-level-three: "\e0c7";
$ra-var-icon-level-three-advanced: "\e0c8";
$ra-var-icon-level-two: "\e0c9";
$ra-var-icon-level-two-advanced: "\e0ca";
$ra-var-icon-lever: "\e0cb";
$ra-var-icon-libra: "\e0cc";
$ra-var-icon-light-bulb: "\e0cd";
$ra-var-icon-lighthouse: "\e0ce";
$ra-var-icon-lightning: "\e0cf";
$ra-var-icon-lightning-bolt: "\e0d0";
$ra-var-icon-lightning-storm: "\e0d1";
$ra-var-icon-lightning-sword: "\e0d2";
$ra-var-icon-lightning-trio: "\e0d3";
$ra-var-icon-lion: "\e0d4";
$ra-var-icon-lit-candelabra: "\e0d5";
$ra-var-icon-load: "\e0d6";
$ra-var-icon-locked-fortress: "\e0d7";
$ra-var-icon-love-howl: "\e0d8";
$ra-var-icon-maggot: "\e0d9";
$ra-var-icon-magnet: "\e0da";
$ra-var-icon-mass-driver: "\e0db";
$ra-var-icon-match: "\e0dc";
$ra-var-icon-meat: "\e0dd";
$ra-var-icon-meat-hook: "\e0de";
$ra-var-icon-medical-pack: "\e0df";
$ra-var-icon-metal-gate: "\e0e0";
$ra-var-icon-microphone: "\e0e1";
$ra-var-icon-mine-wagon: "\e0e2";
$ra-var-icon-mining-diamonds: "\e0e3";
$ra-var-icon-mirror: "\e0e4";
$ra-var-icon-monster-skull: "\e0e5";
$ra-var-icon-montains: "\e0e6";
$ra-var-icon-moon-sun: "\e0e7";
$ra-var-icon-mp5: "\e0e8";
$ra-var-icon-muscle-fat: "\e0e9";
$ra-var-icon-muscle-up: "\e0ea";
$ra-var-icon-musket: "\e0eb";
$ra-var-icon-nails: "\e0ec";
$ra-var-icon-nodular: "\e0ed";
$ra-var-icon-noose: "\e0ee";
$ra-var-icon-nuclear: "\e0ef";
$ra-var-icon-ocarina: "\e0f0";
$ra-var-icon-ocean-emblem: "\e0f1";
$ra-var-icon-octopus: "\e0f2";
$ra-var-icon-omega: "\e0f3";
$ra-var-icon-on-target: "\e0f4";
$ra-var-icon-ophiuchus: "\e0f5";
$ra-var-icon-overhead: "\e0f6";
$ra-var-icon-overmind: "\e0f7";
$ra-var-icon-palm-tree: "\e0f8";
$ra-var-icon-pawn: "\e0f9";
$ra-var-icon-pawprint: "\e0fa";
$ra-var-icon-perspective-dice-five: "\e0fb";
$ra-var-icon-perspective-dice-four: "\e0fc";
$ra-var-icon-perspective-dice-one: "\e0fd";
$ra-var-icon-perspective-dice-random: "\e0fe";
$ra-var-icon-perspective-dice-six: "\e0ff";
$ra-var-icon-perspective-dice-six-two: "\e100";
$ra-var-icon-perspective-dice-three: "\e101";
$ra-var-icon-pill: "\e102";
$ra-var-icon-pills: "\e103";
$ra-var-icon-pine-tree: "\e104";
$ra-var-icon-ping-pong: "\e105";
$ra-var-icon-pisces: "\e106";
$ra-var-icon-plain-dagger: "\e107";
$ra-var-icon-player: "\e108";
$ra-var-icon-player-despair: "\e109";
$ra-var-icon-player-dodge: "\e10a";
$ra-var-icon-player-king: "\e10b";
$ra-var-icon-player-lift: "\e10c";
$ra-var-icon-player-pain: "\e10d";
$ra-var-icon-player-pyromaniac: "\e10e";
$ra-var-icon-player-shot: "\e10f";
$ra-var-icon-player-teleport: "\e110";
$ra-var-icon-player-thunder-struck: "\e111";
$ra-var-icon-podium: "\e112";
$ra-var-icon-poison-cloud: "\e113";
$ra-var-icon-potion: "\e114";
$ra-var-icon-pyramids: "\e115";
$ra-var-icon-queen-crown: "\e116";
$ra-var-icon-quill-ink: "\e117";
$ra-var-icon-rabbit: "\e118";
$ra-var-icon-radar-dish: "\e119";
$ra-var-icon-radial-balance: "\e11a";
$ra-var-icon-radioactive: "\e11b";
$ra-var-icon-raven: "\e11c";
$ra-var-icon-reactor: "\e11d";
$ra-var-icon-recycle: "\e11e";
$ra-var-icon-regeneration: "\e11f";
$ra-var-icon-relic-blade: "\e120";
$ra-var-icon-repair: "\e121";
$ra-var-icon-reverse: "\e122";
$ra-var-icon-revolver: "\e123";
$ra-var-icon-rifle: "\e124";
$ra-var-icon-ringing-bell: "\e125";
$ra-var-icon-roast-chicken: "\e126";
$ra-var-icon-robot-arm: "\e127";
$ra-var-icon-round-bottom-flask: "\e128";
$ra-var-icon-round-shield: "\e129";
$ra-var-icon-rss: "\e12a";
$ra-var-icon-rune-stone: "\e12b";
$ra-var-icon-sagittarius: "\e12c";
$ra-var-icon-sapphire: "\e12d";
$ra-var-icon-sattelite: "\e12e";
$ra-var-icon-save: "\e12f";
$ra-var-icon-scorpio: "\e130";
$ra-var-icon-scroll-unfurled: "\e131";
$ra-var-icon-scythe: "\e132";
$ra-var-icon-sea-serpent: "\e133";
$ra-var-icon-seagull: "\e134";
$ra-var-icon-shark: "\e135";
$ra-var-icon-sheep: "\e136";
$ra-var-icon-sherif: "\e137";
$ra-var-icon-shield: "\e138";
$ra-var-icon-ship-emblem: "\e139";
$ra-var-icon-shoe-prints: "\e13a";
$ra-var-icon-shot-through-the-heart: "\e13b";
$ra-var-icon-shotgun-shell: "\e13c";
$ra-var-icon-shovel: "\e13d";
$ra-var-icon-shuriken: "\e13e";
$ra-var-icon-sickle: "\e13f";
$ra-var-icon-sideswipe: "\e140";
$ra-var-icon-site: "\e141";
$ra-var-icon-skull: "\e142";
$ra-var-icon-skull-trophy: "\e143";
$ra-var-icon-slash-ring: "\e144";
$ra-var-icon-small-fire: "\e145";
$ra-var-icon-snail: "\e146";
$ra-var-icon-snake: "\e147";
$ra-var-icon-snorkel: "\e148";
$ra-var-icon-snowflake: "\e149";
$ra-var-icon-soccer-ball: "\e14a";
$ra-var-icon-spades: "\e14b";
$ra-var-icon-spades-card: "\e14c";
$ra-var-icon-spawn-node: "\e14d";
$ra-var-icon-spear-head: "\e14e";
$ra-var-icon-speech-bubble: "\e14f";
$ra-var-icon-speech-bubbles: "\e150";
$ra-var-icon-spider-face: "\e151";
$ra-var-icon-spikeball: "\e152";
$ra-var-icon-spiked-mace: "\e153";
$ra-var-icon-spiked-tentacle: "\e154";
$ra-var-icon-spinning-sword: "\e155";
$ra-var-icon-spiral-shell: "\e156";
$ra-var-icon-splash: "\e157";
$ra-var-icon-spray-can: "\e158";
$ra-var-icon-sprout: "\e159";
$ra-var-icon-sprout-emblem: "\e15a";
$ra-var-icon-stopwatch: "\e15b";
$ra-var-icon-suckered-tentacle: "\e15c";
$ra-var-icon-suits: "\e15d";
$ra-var-icon-sun: "\e15e";
$ra-var-icon-sun-symbol: "\e15f";
$ra-var-icon-sunbeams: "\e160";
$ra-var-icon-super-mushroom: "\e161";
$ra-var-icon-supersonic-arrow: "\e162";
$ra-var-icon-surveillance-camera: "\e163";
$ra-var-icon-syringe: "\e164";
$ra-var-icon-target-arrows: "\e165";
$ra-var-icon-target-laser: "\e166";
$ra-var-icon-targeted: "\e167";
$ra-var-icon-taurus: "\e168";
$ra-var-icon-telescope: "\e169";
$ra-var-icon-tentacle: "\e16a";
$ra-var-icon-tesla: "\e16b";
$ra-var-icon-thorn-arrow: "\e16c";
$ra-var-icon-thorny-vine: "\e16d";
$ra-var-icon-three-keys: "\e16e";
$ra-var-icon-tic-tac-toe: "\e16f";
$ra-var-icon-toast: "\e170";
$ra-var-icon-tombstone: "\e171";
$ra-var-icon-tooth: "\e172";
$ra-var-icon-torch: "\e173";
$ra-var-icon-tower: "\e174";
$ra-var-icon-trail: "\e175";
$ra-var-icon-trefoil-lily: "\e176";
$ra-var-icon-trident: "\e177";
$ra-var-icon-triforce: "\e178";
$ra-var-icon-trophy: "\e179";
$ra-var-icon-turd: "\e17a";
$ra-var-icon-two-dragons: "\e17b";
$ra-var-icon-two-hearts: "\e17c";
$ra-var-icon-uncertainty: "\e17d";
$ra-var-icon-underhand: "\e17e";
$ra-var-icon-unplugged: "\e17f";
$ra-var-icon-vase: "\e180";
$ra-var-icon-venomous-snake: "\e181";
$ra-var-icon-vest: "\e182";
$ra-var-icon-vial: "\e183";
$ra-var-icon-vine-whip: "\e184";
$ra-var-icon-virgo: "\e185";
$ra-var-icon-water-drop: "\e186";
$ra-var-icon-wifi: "\e187";
$ra-var-icon-wireless-signal: "\e188";
$ra-var-icon-wolf-head: "\e189";
$ra-var-icon-wolf-howl: "\e18a";
$ra-var-icon-wooden-sign: "\e18b";
$ra-var-icon-wrench: "\e18c";
$ra-var-icon-wyvern: "\e18d";
$ra-var-icon-x-mark: "\e18e";
$ra-var-icon-zebra-shield: "\e18f";
$ra-var-icon-zigzag-leaf: "\e190";
