// Variables
// --------------------------

$ra-font-path:        '../fonts' !default;
$ra-css-prefix:       ra !default;
$ra-version:          '0.0.9' !default;
$ra-border-color:     #eee !default;
$ra-inverse:          #fff !default;
$ra-li-width:         (30em / 14) !default;

$ra-var-icon-perspective-dice-two: '\e94f';
$ra-var-icon-sword: '\ea81';
$ra-var-icon-castle: '\eb25';
$ra-var-icon-pumpkin-lantern: '\eb26';
$ra-var-icon-wood-beam: '\eb23';
$ra-var-icon-brutal-helm: '\eb24';
$ra-var-icon-achievement: '\e900';
$ra-var-icon-acid: '\e901';
$ra-var-icon-acorn: '\e902';
$ra-var-icon-alien-fire: '\e903';
$ra-var-icon-all-for-one: '\e904';
$ra-var-icon-alligator-clip: '\e905';
$ra-var-icon-amethyst: '\e906';
$ra-var-icon-ammo-bag: '\e907';
$ra-var-icon-amphora: '\e908';
$ra-var-icon-amputation: '\e909';
$ra-var-icon-anchor: '\e90a';
$ra-var-icon-angel-wings: '\e90b';
$ra-var-icon-ankh: '\e90c';
$ra-var-icon-anvil: '\e90d';
$ra-var-icon-apothecary: '\e90e';
$ra-var-icon-apple: '\e90f';
$ra-var-icon-aquarius: '\e910';
$ra-var-icon-arcane-mask: '\e911';
$ra-var-icon-archer: '\e912';
$ra-var-icon-archery-target: '\e913';
$ra-var-icon-arena: '\e914';
$ra-var-icon-aries: '\e915';
$ra-var-icon-arrow-cluster: '\e916';
$ra-var-icon-arrow-flights: '\e917';
$ra-var-icon-arson: '\e918';
$ra-var-icon-aura: '\e919';
$ra-var-icon-aware: '\e91a';
$ra-var-icon-axe-in-log: '\e91b';
$ra-var-icon-axe-swing: '\e91c';
$ra-var-icon-axe-sword: '\e91d';
$ra-var-icon-axe: '\e91e';
$ra-var-icon-ball: '\e91f';
$ra-var-icon-banknote: '\e920';
$ra-var-icon-barbed-arrow: '\e921';
$ra-var-icon-barrier: '\e922';
$ra-var-icon-basketball-ball: '\e923';
$ra-var-icon-bat-sword: '\e924';
$ra-var-icon-battered-axe: '\e925';
$ra-var-icon-batteries: '\e926';
$ra-var-icon-battery-0: '\e927';
$ra-var-icon-battery-25: '\e928';
$ra-var-icon-battery-50: '\e929';
$ra-var-icon-battery-75: '\e92a';
$ra-var-icon-battery-100: '\e92b';
$ra-var-icon-battery-black: '\e92c';
$ra-var-icon-battery-negative: '\e92d';
$ra-var-icon-battery-positive: '\e92e';
$ra-var-icon-battery-white: '\e92f';
$ra-var-icon-batwings: '\e930';
$ra-var-icon-beam-wake: '\e931';
$ra-var-icon-bear-trap: '\e932';
$ra-var-icon-beer: '\e933';
$ra-var-icon-beetle: '\e934';
$ra-var-icon-bell: '\e935';
$ra-var-icon-biohazard: '\e936';
$ra-var-icon-bird-claw: '\e937';
$ra-var-icon-bird-mask: '\e938';
$ra-var-icon-blade-bite: '\e939';
$ra-var-icon-blast: '\e93a';
$ra-var-icon-blaster: '\e93b';
$ra-var-icon-bleeding-eye: '\e93c';
$ra-var-icon-bleeding-hearts: '\e93d';
$ra-var-icon-bolt-shield: '\e93e';
$ra-var-icon-bomb-explosion: '\e93f';
$ra-var-icon-bombs: '\e940';
$ra-var-icon-bone-bite: '\e941';
$ra-var-icon-bone-knife: '\e942';
$ra-var-icon-book: '\e943';
$ra-var-icon-boomerang: '\e944';
$ra-var-icon-boot-stomp: '\e945';
$ra-var-icon-bottle-vapors: '\e946';
$ra-var-icon-bottled-bolt: '\e947';
$ra-var-icon-bottom-right: '\e948';
$ra-var-icon-bowie-knife: '\e949';
$ra-var-icon-bowling-pin: '\e94a';
$ra-var-icon-brain-freeze: '\e94b';
$ra-var-icon-brandy-bottle: '\e94c';
$ra-var-icon-bridge: '\e94d';
$ra-var-icon-broadhead-arrow: '\e94e';
$ra-var-icon-broken-arrow: '\e950';
$ra-var-icon-broken-bone: '\e951';
$ra-var-icon-broken-bottle: '\e952';
$ra-var-icon-broken-heart: '\e953';
$ra-var-icon-broken-shield: '\e954';
$ra-var-icon-broken-skull: '\e955';
$ra-var-icon-bubbling-potion: '\e956';
$ra-var-icon-bullets: '\e957';
$ra-var-icon-burning-book: '\e958';
$ra-var-icon-burning-embers: '\e959';
$ra-var-icon-burning-eye: '\e95a';
$ra-var-icon-burning-meteor: '\e95b';
$ra-var-icon-burning-skull: '\e95c';
$ra-var-icon-burst-blob: '\e95d';
$ra-var-icon-butterfly: '\e95e';
$ra-var-icon-campfire: '\e95f';
$ra-var-icon-camping-tent: '\e960';
$ra-var-icon-cancel: '\e961';
$ra-var-icon-cancer: '\e962';
$ra-var-icon-candle-fire: '\e963';
$ra-var-icon-candle: '\e964';
$ra-var-icon-cannon-shot: '\e965';
$ra-var-icon-capitol: '\e966';
$ra-var-icon-capricorn: '\e967';
$ra-var-icon-carrot: '\e968';
$ra-var-icon-castle-emblem: '\e969';
$ra-var-icon-castle-flag: '\e96a';
$ra-var-icon-cat: '\e96b';
$ra-var-icon-cauldron: '\e96c';
$ra-var-icon-chain: '\e96d';
$ra-var-icon-cheese: '\e96e';
$ra-var-icon-chemical-arrow: '\e96f';
$ra-var-icon-chessboard: '\e970';
$ra-var-icon-chicken-leg: '\e971';
$ra-var-icon-circle-of-circles: '\e972';
$ra-var-icon-circular-saw: '\e973';
$ra-var-icon-circular-shield: '\e974';
$ra-var-icon-cloak-and-dagger: '\e975';
$ra-var-icon-clockwork: '\e976';
$ra-var-icon-closed-barbute: '\e977';
$ra-var-icon-clover: '\e978';
$ra-var-icon-clovers-card: '\e979';
$ra-var-icon-clovers: '\e97a';
$ra-var-icon-cluster-bomb: '\e97b';
$ra-var-icon-coal-wagon: '\e97c';
$ra-var-icon-coffee-mug: '\e97d';
$ra-var-icon-cog-wheel: '\e97e';
$ra-var-icon-cog: '\e97f';
$ra-var-icon-coins: '\e980';
$ra-var-icon-cold-heart: '\e981';
$ra-var-icon-compass: '\e982';
$ra-var-icon-console-controller: '\e983';
$ra-var-icon-conversation: '\e984';
$ra-var-icon-corked-tube: '\e985';
$ra-var-icon-crab-claw: '\e986';
$ra-var-icon-cracked-helm: '\e987';
$ra-var-icon-cracked-shield: '\e988';
$ra-var-icon-croc-sword: '\e989';
$ra-var-icon-crossbow: '\e98a';
$ra-var-icon-crossed-axes: '\e98b';
$ra-var-icon-crossed-bones: '\e98c';
$ra-var-icon-crossed-pistols: '\e98d';
$ra-var-icon-crossed-sabres: '\e98e';
$ra-var-icon-crossed-swords: '\e98f';
$ra-var-icon-crown-of-thorns: '\e990';
$ra-var-icon-crown: '\e991';
$ra-var-icon-crowned-heart: '\e992';
$ra-var-icon-crush: '\e993';
$ra-var-icon-crystal-ball: '\e994';
$ra-var-icon-crystal-cluster: '\e995';
$ra-var-icon-crystal-wand: '\e996';
$ra-var-icon-crystals: '\e997';
$ra-var-icon-cubes: '\e998';
$ra-var-icon-cut-palm: '\e999';
$ra-var-icon-cycle: '\e99a';
$ra-var-icon-daggers: '\e99b';
$ra-var-icon-daisy: '\e99c';
$ra-var-icon-dead-tree: '\e99d';
$ra-var-icon-death-skull: '\e99e';
$ra-var-icon-decapitation: '\e99f';
$ra-var-icon-defibrillate: '\e9a0';
$ra-var-icon-demolish: '\e9a1';
$ra-var-icon-dervish-swords: '\e9a2';
$ra-var-icon-desert-skull: '\e9a3';
$ra-var-icon-diamond: '\e9a4';
$ra-var-icon-diamonds-card: '\e9a5';
$ra-var-icon-diamonds: '\e9a6';
$ra-var-icon-dice-five: '\e9a7';
$ra-var-icon-dice-four: '\e9a8';
$ra-var-icon-dice-one: '\e9a9';
$ra-var-icon-dice-six: '\e9aa';
$ra-var-icon-dice-three: '\e9ab';
$ra-var-icon-dice-two: '\e9ac';
$ra-var-icon-dinosaur: '\e9ad';
$ra-var-icon-divert: '\e9ae';
$ra-var-icon-diving-dagger: '\e9af';
$ra-var-icon-double-team: '\e9b0';
$ra-var-icon-doubled: '\e9b1';
$ra-var-icon-dragon-breath: '\e9b2';
$ra-var-icon-dragon-wing: '\e9b3';
$ra-var-icon-dragon: '\e9b4';
$ra-var-icon-dragonfly: '\e9b5';
$ra-var-icon-drill: '\e9b6';
$ra-var-icon-dripping-blade: '\e9b7';
$ra-var-icon-dripping-knife: '\e9b8';
$ra-var-icon-dripping-sword: '\e9b9';
$ra-var-icon-droplet-splash: '\e9ba';
$ra-var-icon-droplet: '\e9bb';
$ra-var-icon-droplets: '\e9bc';
$ra-var-icon-duel: '\e9bd';
$ra-var-icon-earth-crack: '\e9be';
$ra-var-icon-egg-pod: '\e9bf';
$ra-var-icon-egg: '\e9c0';
$ra-var-icon-eggplant: '\e9c1';
$ra-var-icon-emerald: '\e9c2';
$ra-var-icon-energise: '\e9c3';
$ra-var-icon-executioner-hood: '\e9c4';
$ra-var-icon-explosion: '\e9c5';
$ra-var-icon-explosive-materials: '\e9c6';
$ra-var-icon-eye-monster: '\e9c7';
$ra-var-icon-eye-shield: '\e9c8';
$ra-var-icon-eyeball: '\e9c9';
$ra-var-icon-fairy-wand: '\e9ca';
$ra-var-icon-fairy: '\e9cb';
$ra-var-icon-fall-down: '\e9cc';
$ra-var-icon-falling: '\e9cd';
$ra-var-icon-fast-ship: '\e9ce';
$ra-var-icon-feather-wing: '\e9cf';
$ra-var-icon-feathered-wing: '\e9d0';
$ra-var-icon-fedora: '\e9d1';
$ra-var-icon-fire-bomb: '\e9d2';
$ra-var-icon-fire-breath: '\e9d3';
$ra-var-icon-fire-ring: '\e9d4';
$ra-var-icon-fire-shield: '\e9d5';
$ra-var-icon-fire-symbol: '\e9d6';
$ra-var-icon-fire: '\e9d7';
$ra-var-icon-fireball-sword: '\e9d8';
$ra-var-icon-fish: '\e9d9';
$ra-var-icon-fizzing-flask: '\e9da';
$ra-var-icon-flail: '\e9db';
$ra-var-icon-flame-symbol: '\e9dc';
$ra-var-icon-flame: '\e9dd';
$ra-var-icon-flaming-arrow: '\e9de';
$ra-var-icon-flaming-claw: '\e9df';
$ra-var-icon-flaming-trident: '\e9e0';
$ra-var-icon-flask: '\e9e1';
$ra-var-icon-flat-hammer: '\e9e2';
$ra-var-icon-flower: '\e9e3';
$ra-var-icon-flowers: '\e9e4';
$ra-var-icon-fluffy-swirl: '\e9e5';
$ra-var-icon-focused-lightning: '\e9e6';
$ra-var-icon-food-chain: '\e9e7';
$ra-var-icon-football-ball: '\e9e8';
$ra-var-icon-footprint: '\e9e9';
$ra-var-icon-forging: '\e9ea';
$ra-var-icon-forward: '\e9eb';
$ra-var-icon-fox: '\e9ec';
$ra-var-icon-frost-emblem: '\e9ed';
$ra-var-icon-frostfire: '\e9ee';
$ra-var-icon-frozen-arrow: '\e9ef';
$ra-var-icon-gamepad-cross: '\e9f0';
$ra-var-icon-gamepad: '\e9f1';
$ra-var-icon-gavel: '\e9f2';
$ra-var-icon-gear-hammer: '\e9f3';
$ra-var-icon-gear-heart: '\e9f4';
$ra-var-icon-gears: '\e9f5';
$ra-var-icon-gecko: '\e9f6';
$ra-var-icon-gem-pendant: '\e9f7';
$ra-var-icon-gem: '\e9f8';
$ra-var-icon-gemini: '\e9f9';
$ra-var-icon-gladius: '\e9fa';
$ra-var-icon-glass-heart: '\e9fb';
$ra-var-icon-gloop: '\e9fc';
$ra-var-icon-gold-bar: '\e9fd';
$ra-var-icon-gold-stack: '\e9fe';
$ra-var-icon-grappling-hook: '\e9ff';
$ra-var-icon-grass-patch: '\ea00';
$ra-var-icon-grass: '\ea01';
$ra-var-icon-greek-temple: '\ea02';
$ra-var-icon-grenade: '\ea03';
$ra-var-icon-groundbreaker: '\ea04';
$ra-var-icon-guarded-tower: '\ea05';
$ra-var-icon-guillotine: '\ea06';
$ra-var-icon-halberd: '\ea07';
$ra-var-icon-ham-shank: '\ea08';
$ra-var-icon-hammer-drop: '\ea09';
$ra-var-icon-hammer: '\ea0a';
$ra-var-icon-hand-emblem: '\ea0b';
$ra-var-icon-hand-saw: '\ea0c';
$ra-var-icon-hand: '\ea0d';
$ra-var-icon-harpoon-trident: '\ea0e';
$ra-var-icon-hatchet: '\ea0f';
$ra-var-icon-health-decrease: '\ea10';
$ra-var-icon-health-increase: '\ea11';
$ra-var-icon-health: '\ea12';
$ra-var-icon-heart-bottle: '\ea13';
$ra-var-icon-heart-tower: '\ea14';
$ra-var-icon-heartburn: '\ea15';
$ra-var-icon-hearts-card: '\ea16';
$ra-var-icon-hearts: '\ea17';
$ra-var-icon-heat-haze: '\ea18';
$ra-var-icon-heavy-fall: '\ea19';
$ra-var-icon-heavy-shield: '\ea1a';
$ra-var-icon-helmet: '\ea1b';
$ra-var-icon-help: '\ea1c';
$ra-var-icon-hive-emblem: '\ea1d';
$ra-var-icon-hole-ladder: '\ea1e';
$ra-var-icon-honeycomb: '\ea1f';
$ra-var-icon-hood: '\ea20';
$ra-var-icon-horn-call: '\ea21';
$ra-var-icon-horns: '\ea22';
$ra-var-icon-horseshoe: '\ea23';
$ra-var-icon-hospital-cross: '\ea24';
$ra-var-icon-hot-surface: '\ea25';
$ra-var-icon-hourglass: '\ea26';
$ra-var-icon-house: '\ea27';
$ra-var-icon-hydra-shot: '\ea28';
$ra-var-icon-hydra: '\ea29';
$ra-var-icon-ice-cube: '\ea2a';
$ra-var-icon-imperial-crown: '\ea2b';
$ra-var-icon-implosion: '\ea2c';
$ra-var-icon-incense: '\ea2d';
$ra-var-icon-insect-jaws: '\ea2e';
$ra-var-icon-interdiction: '\ea2f';
$ra-var-icon-jetpack: '\ea30';
$ra-var-icon-jewel-crown: '\ea31';
$ra-var-icon-jigsaw-piece: '\ea32';
$ra-var-icon-kaleidoscope: '\ea33';
$ra-var-icon-kettlebell: '\ea34';
$ra-var-icon-key-basic: '\ea35';
$ra-var-icon-key: '\ea36';
$ra-var-icon-kitchen-knives: '\ea37';
$ra-var-icon-knife-fork: '\ea38';
$ra-var-icon-knife: '\ea39';
$ra-var-icon-knight-helmet: '\ea3a';
$ra-var-icon-kunai: '\ea3b';
$ra-var-icon-lantern-flame: '\ea3c';
$ra-var-icon-large-hammer: '\ea3d';
$ra-var-icon-laser-blast: '\ea3e';
$ra-var-icon-laser-site: '\ea3f';
$ra-var-icon-lava: '\ea40';
$ra-var-icon-leaf: '\ea41';
$ra-var-icon-leo: '\ea42';
$ra-var-icon-level-four-advanced: '\ea43';
$ra-var-icon-level-four: '\ea44';
$ra-var-icon-level-three-advanced: '\ea45';
$ra-var-icon-level-three: '\ea46';
$ra-var-icon-level-two-advanced: '\ea47';
$ra-var-icon-level-two: '\ea48';
$ra-var-icon-lever: '\ea49';
$ra-var-icon-libra: '\ea4a';
$ra-var-icon-light-bulb: '\ea4b';
$ra-var-icon-lighthouse: '\ea4c';
$ra-var-icon-lightning-bolt: '\ea4d';
$ra-var-icon-lightning-storm: '\ea4e';
$ra-var-icon-lightning-sword: '\ea4f';
$ra-var-icon-lightning-trio: '\ea50';
$ra-var-icon-lightning: '\ea51';
$ra-var-icon-lion: '\ea52';
$ra-var-icon-lit-candelabra: '\ea53';
$ra-var-icon-load: '\ea54';
$ra-var-icon-locked-fortress: '\ea55';
$ra-var-icon-love-howl: '\ea56';
$ra-var-icon-maggot: '\ea57';
$ra-var-icon-magnet: '\ea58';
$ra-var-icon-mass-driver: '\ea59';
$ra-var-icon-match: '\ea5a';
$ra-var-icon-materials-science: '\ea5b';
$ra-var-icon-meat-hook: '\ea5c';
$ra-var-icon-meat: '\ea5d';
$ra-var-icon-medical-pack: '\ea5e';
$ra-var-icon-metal-gate: '\ea5f';
$ra-var-icon-microphone: '\ea60';
$ra-var-icon-mine-wagon: '\ea61';
$ra-var-icon-mining-diamonds: '\ea62';
$ra-var-icon-mirror: '\ea63';
$ra-var-icon-monster-skull: '\ea64';
$ra-var-icon-montains: '\ea65';
$ra-var-icon-moon-sun: '\ea66';
$ra-var-icon-mp5: '\ea67';
$ra-var-icon-muscle-fat: '\ea68';
$ra-var-icon-muscle-up: '\ea69';
$ra-var-icon-musket: '\ea6a';
$ra-var-icon-nails: '\ea6b';
$ra-var-icon-newspaper: '\ea6c';
$ra-var-icon-nodular: '\ea6d';
$ra-var-icon-noose: '\ea6e';
$ra-var-icon-nuclear: '\ea6f';
$ra-var-icon-ocarina: '\ea70';
$ra-var-icon-ocean-emblem: '\ea71';
$ra-var-icon-octopus: '\ea72';
$ra-var-icon-omega: '\ea73';
$ra-var-icon-on-target: '\ea74';
$ra-var-icon-open-chest: '\ea75';
$ra-var-icon-ophiuchus: '\ea76';
$ra-var-icon-orb-wand: '\ea77';
$ra-var-icon-overhead: '\ea78';
$ra-var-icon-overmind: '\ea79';
$ra-var-icon-palm-tree: '\ea7a';
$ra-var-icon-pawn: '\ea7b';
$ra-var-icon-pawprint: '\ea7c';
$ra-var-icon-perspective-dice-five: '\ea7d';
$ra-var-icon-perspective-dice-four: '\ea7e';
$ra-var-icon-perspective-dice-one: '\ea7f';
$ra-var-icon-perspective-dice-random: '\ea80';
$ra-var-icon-perspective-dice-six: '\ea82';
$ra-var-icon-perspective-dice-three: '\ea83';
$ra-var-icon-pig: '\ea84';
$ra-var-icon-pill: '\ea85';
$ra-var-icon-pills: '\ea86';
$ra-var-icon-pine-tree: '\ea87';
$ra-var-icon-ping-pong: '\ea88';
$ra-var-icon-pisces: '\ea89';
$ra-var-icon-plain-dagger: '\ea8a';
$ra-var-icon-player-despair: '\ea8b';
$ra-var-icon-player-dodge: '\ea8c';
$ra-var-icon-player-king: '\ea8d';
$ra-var-icon-player-lift: '\ea8e';
$ra-var-icon-player-pain: '\ea8f';
$ra-var-icon-player-pyromaniac: '\ea90';
$ra-var-icon-player-shot: '\ea91';
$ra-var-icon-player-teleport: '\ea92';
$ra-var-icon-player-thunder-struck: '\ea93';
$ra-var-icon-player: '\ea94';
$ra-var-icon-podium: '\ea95';
$ra-var-icon-pointy-hat: '\ea96';
$ra-var-icon-poison-cloud: '\ea97';
$ra-var-icon-potion: '\ea98';
$ra-var-icon-psychic-waves: '\ea99';
$ra-var-icon-pyramids: '\ea9a';
$ra-var-icon-queen-crown: '\ea9b';
$ra-var-icon-quill-ink: '\ea9c';
$ra-var-icon-rabbit: '\ea9d';
$ra-var-icon-radar-dish: '\ea9e';
$ra-var-icon-radial-balance: '\ea9f';
$ra-var-icon-radioactive: '\eaa0';
$ra-var-icon-raven: '\eaa1';
$ra-var-icon-reactor: '\eaa2';
$ra-var-icon-recycle: '\eaa3';
$ra-var-icon-regeneration: '\eaa4';
$ra-var-icon-relic-blade: '\eaa5';
$ra-var-icon-repair: '\eaa6';
$ra-var-icon-reverse: '\eaa7';
$ra-var-icon-revolver: '\eaa8';
$ra-var-icon-rifle: '\eaa9';
$ra-var-icon-ringing-bell: '\eaaa';
$ra-var-icon-roast-chicken: '\eaab';
$ra-var-icon-robot-arm: '\eaac';
$ra-var-icon-round-bottom-flask: '\eaad';
$ra-var-icon-round-shield: '\eaae';
$ra-var-icon-rss: '\eaaf';
$ra-var-icon-rune-stone: '\eab0';
$ra-var-icon-sagittarius: '\eab1';
$ra-var-icon-sapphire: '\eab2';
$ra-var-icon-satellite: '\eab3';
$ra-var-icon-save: '\eab4';
$ra-var-icon-scorpio: '\eab5';
$ra-var-icon-scroll-unfurled: '\eab6';
$ra-var-icon-scythe: '\eab7';
$ra-var-icon-sea-serpent: '\eab8';
$ra-var-icon-seagull: '\eab9';
$ra-var-icon-shark: '\eaba';
$ra-var-icon-sheep: '\eabb';
$ra-var-icon-sheriff: '\eabc';
$ra-var-icon-shield: '\eabd';
$ra-var-icon-ship-emblem: '\eabe';
$ra-var-icon-shoe-prints: '\eabf';
$ra-var-icon-shot-through-the-heart: '\eac0';
$ra-var-icon-shotgun-shell: '\eac1';
$ra-var-icon-shovel: '\eac2';
$ra-var-icon-shuriken: '\eac3';
$ra-var-icon-sickle: '\eac4';
$ra-var-icon-sideswipe: '\eac5';
$ra-var-icon-sinking-ship: '\eac6';
$ra-var-icon-site: '\eac7';
$ra-var-icon-skull-trophy: '\eac8';
$ra-var-icon-skull: '\eac9';
$ra-var-icon-slash-ring: '\eaca';
$ra-var-icon-sliced-bread: '\eacb';
$ra-var-icon-small-fire: '\eacc';
$ra-var-icon-snail: '\eacd';
$ra-var-icon-snake: '\eace';
$ra-var-icon-snorkel: '\eacf';
$ra-var-icon-snowflake: '\ead0';
$ra-var-icon-soccer-ball: '\ead1';
$ra-var-icon-spades-card: '\ead2';
$ra-var-icon-spades: '\ead3';
$ra-var-icon-spawn-node: '\ead4';
$ra-var-icon-spear-head: '\ead5';
$ra-var-icon-speech-bubble: '\ead6';
$ra-var-icon-speech-bubbles: '\ead7';
$ra-var-icon-spider-alt: '\ead8';
$ra-var-icon-spider-face: '\ead9';
$ra-var-icon-spikeball: '\eada';
$ra-var-icon-spiked-ball: '\eadb';
$ra-var-icon-spiked-bat: '\eadc';
$ra-var-icon-spiked-mace: '\eadd';
$ra-var-icon-spiked-tentacle: '\eade';
$ra-var-icon-spinning-sword: '\eadf';
$ra-var-icon-spiral-shell: '\eae0';
$ra-var-icon-splash: '\eae1';
$ra-var-icon-spray-can: '\eae2';
$ra-var-icon-sprout-emblem: '\eae3';
$ra-var-icon-sprout: '\eae4';
$ra-var-icon-spy: '\eae5';
$ra-var-icon-stone-pile: '\eae6';
$ra-var-icon-stopwatch: '\eae7';
$ra-var-icon-suckered-tentacle: '\eae8';
$ra-var-icon-suits: '\eae9';
$ra-var-icon-sun-symbol: '\eaea';
$ra-var-icon-sun: '\eaeb';
$ra-var-icon-sunbeams: '\eaec';
$ra-var-icon-super-mushroom: '\eaed';
$ra-var-icon-supersonic-arrow: '\eaee';
$ra-var-icon-surveillance-camera: '\eaef';
$ra-var-icon-syringe: '\eaf0';
$ra-var-icon-target-arrows: '\eaf1';
$ra-var-icon-target-laser: '\eaf2';
$ra-var-icon-targeted: '\eaf3';
$ra-var-icon-taurus: '\eaf4';
$ra-var-icon-telescope: '\eaf5';
$ra-var-icon-tentacle: '\eaf6';
$ra-var-icon-tesla: '\eaf7';
$ra-var-icon-thorn-arrow: '\eaf8';
$ra-var-icon-thorny-vine: '\eaf9';
$ra-var-icon-three-keys: '\eafa';
$ra-var-icon-tic-tac-toe: '\eafb';
$ra-var-icon-toast: '\eafc';
$ra-var-icon-tombstone: '\eafd';
$ra-var-icon-tooth: '\eafe';
$ra-var-icon-torch: '\eaff';
$ra-var-icon-tornado: '\eb00';
$ra-var-icon-tower: '\eb01';
$ra-var-icon-trail: '\eb02';
$ra-var-icon-trefoil-lily: '\eb03';
$ra-var-icon-trident: '\eb04';
$ra-var-icon-triforce: '\eb05';
$ra-var-icon-trophy: '\eb06';
$ra-var-icon-turd: '\eb07';
$ra-var-icon-two-dragons: '\eb08';
$ra-var-icon-two-hearts: '\eb09';
$ra-var-icon-uncertainty: '\eb0a';
$ra-var-icon-underhand: '\eb0b';
$ra-var-icon-unplugged: '\eb0c';
$ra-var-icon-upgrade: '\eb0d';
$ra-var-icon-vase: '\eb0e';
$ra-var-icon-venomous-snake: '\eb0f';
$ra-var-icon-vest: '\eb10';
$ra-var-icon-vial: '\eb11';
$ra-var-icon-vine-whip: '\eb12';
$ra-var-icon-virgo: '\eb13';
$ra-var-icon-water-drop: '\eb14';
$ra-var-icon-wave-crest: '\eb15';
$ra-var-icon-wifi: '\eb16';
$ra-var-icon-wireless-signal: '\eb17';
$ra-var-icon-wizard-face: '\eb18';
$ra-var-icon-wizard-staff: '\eb19';
$ra-var-icon-wolf-head: '\eb1a';
$ra-var-icon-wolf-howl: '\eb1b';
$ra-var-icon-wooden-sign: '\eb1c';
$ra-var-icon-world: '\eb1d';
$ra-var-icon-wrench: '\eb1e';
$ra-var-icon-wyvern: '\eb1f';
$ra-var-icon-x-mark: '\eb20';
$ra-var-icon-zebra-shield: '\eb21';
$ra-var-icon-zigzag-leaf: '\eb22';
