/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(normalize.css);
@import url(pygment_trac.css);

/*******************************************************************************
Theme Styles
*******************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color:#373737;
  background: #212121;
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 300;
  color:#222222;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
}

h2 {
  background: url('../images/bg_hr.png') repeat-x bottom;
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 17px;
  margin: 10px 0 15px 0;
}

footer p {
  color: rgba(242, 242, 242, .5);
  font-size: 14px;
  text-align: center;
}

a {
  border-bottom: 1px dashed #999;
  color: #1d9d74;
  text-decoration: none;
  text-shadow: none;
}

a:hover, a:focus {
  border-bottom: 1px dashed #999;
  color: #1d9d74;
  text-decoration: none;
}

footer a:hover, a:focus {
  border:none;
  border-bottom: 1px dashed #999;
  color: rgb(242, 242, 242);
  font-size: 14;
  text-decoration: none;
}

header a{
  border-radius: none;
  text-decoration: none;
}

header a:hover, a:focus {
  border: 2px solid;
  color: rgb(242, 242, 242);
  text-decoration: none;
}

.ra-icon-list {
  margin-top: 5px;
  margin-left: 40px;
}

.ra-icon-list .ra-hover {
  border-radius: 4px;
  color: #222222;
  display: block;
  font-size: 17px;
  height: 52px;
  line-height: 40px;
  padding: 10px;
}

.ra-icon-list .ra-hover:hover {
  background-color: #1d9d74;
  color: #ffffff;
  text-decoration: none;
}

.ra-icon-list .ra-hover:hover .ra {
  font-size: 32px;
  vertical-align: -9px;
}

.ra-icon-list .ra-hover .ra {
  vertical-align: sub;
}

.ra-top-link {
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  text-decoration:none;
}

.ra-top-link:hover {
    color: #A8A8A8;
    text-decoration:none;
}

.ra-top-link:active {
    color: #A8A8A8;
    text-decoration:none;
}

.ra-top-link:visited {
    color: #A8A8A8;
    text-decoration:none;
}

footer a {
  color: rgb(242, 242, 242);
  font-size: 14;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre {
  padding: 10px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin: 0 0 20px 2px;
  padding-left: 20px;
  border-left: 3px solid #bbb;
  font-style: italic;
}

ul, ol, dl {
  margin: 0 0 15px 0;
  padding-left: 60px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

.players{
  margin: 40px;
}

.potions{
  margin: 40px;
}

.inventory{
  margin: 40px;
}

.creatures-and-animals{
  margin: 40px;
}

.electronics{
  margin: 40px;
}

.cards-and-dice{
  margin: 40px;
}

.food{
  margin: 40px;
}

.plants{
  margin: 40px;
}

.astrology{
  margin: 40px;
}

.dangers{
  margin: 40px;
}

.magic{
  margin: 40px;
}

.weapons-and-armor{
  margin: 40px;
}

.rpg-icons{
  margin: 40px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  text-decoration:none;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #000000;
  background: url('../images/blacktocat_black.png') #ffffff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border: none;
}

#forkme_banner:hover{
  background: url('../images/blacktocat_black.png') #A8A8A8 no-repeat 95% 50%;
}

#header_wrap {
  background: url('../images/footer_lodyas.png');
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  text-shadow: 4px 3px 0px #212121, 9px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#project_tagline {
  font-family: Helvetica, Arial, sans-serif;
  background: none;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: url('../images/footer_lodyas.png');
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}